<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Complejidad de negocio">
    <app-matriz-complejidad-negocio [complejidadNegocio]="complejidadNegocio"
    (emisor)="puntosNegocios($event)"></app-matriz-complejidad-negocio>
  </mat-tab>
  <mat-tab label="Complejidad tecnológica">
    <app-matriz-complejidad-tecnologia [complejidadTecnologica]="complejidadTecnologica"
    (emisor)="puntosTecnologicos($event)"></app-matriz-complejidad-tecnologia>
  </mat-tab>
  <mat-tab label="Resultado">
    <app-resultado [complejidadTecnologica]="complejidadTecnologica" [complejidadNegocio]="complejidadNegocio"
    [arrayPuntosNegocio]="arrayPuntosNegocio" [arrayPuntosTecnologico]="arrayPuntosTecnologicos">
    </app-resultado>
  </mat-tab>
</mat-tab-group>
