table {
  width: 100%;
}

.demo-table {
  width: 100%;
}

.mat-column-atributo-de-negocio {
  width: 150px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-zona-I {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-zona-II {
  font-style: italic;
}

.mat-column-zona-III {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

